<div class="container">
  <div class="bg">

    <div class="header">
      <div class="row navMarginTop">
        <div class="col">
          <img src="assets/img/left-arrow.png" class="iconBack">
        </div>
        <div class="col">
          <img src="assets/img/pp.jpeg" width="30" height="30" class="rounded-circle profileImg" alt="">
        </div>
        <div class="col">
          <p class="titel">Shubh</p>
          <!-- <p class="subTitel">tap here for contect info</p> -->
        </div>
        <div class="col">
          <img src="assets/img/video-camera.png" class="iconCamara">
        </div>
        <div class="col">
          <img src="assets/img/phone-call-button.png" class="iconCall">
        </div>
        <div class="col">
          <img src="assets/img/more.png" class="iconMore">

        </div>
      </div>
    </div>
    <div class="row chatMarginTop">
      <!-- <div class="col-12">
        <div class="bubbleIn">
          <div class="text"> hello</div>
          <div class="textTiming">12:40 pm</div>
        </div>
      </div> -->
      
      <div class="col-12" *ngFor="let data of dataListMessage" >
        <div class="bubble" *ngIf="data.type == 'question'">
          <div class="text">{{data.question}}</div>
          <div class="textTiming">{{ data.date | date:' h:mm a'}}</div>
        </div>
        <div class="bubbleIn" *ngIf="data.type == 'answer'">
          <div class="text"> {{data.answer}}</div>
          <div class="textTiming">{{ data.date | date:' h:mm a'}}</div>
        </div>
      </div>
      <!-- <div class="col-12" *ngFor="let data of dataList">
          
        </div> -->
    </div>
    <div class="footer">
      <div class="form-group has-error has-feedback">
        <div class="col-sm-10">
          <input type="text" class="input" placeholder="Type a message" #smsId>
          <img src="assets/img/happy.png" class="inputIcone">
          <img src="assets/img/paperclip-document-outline.png" class="paperClip">
        </div>
      </div>
      <img src="assets/img/send.png" class="sendIcone" (click)='Answer(smsId.value)'>
    </div>
  </div>
</div>